

<!-- START resources/views/hero_banner.antlers.html -->

<div class="relative
    w-full
    h-[1030px]
    bg-no-repeat
    bg-center
" 
style="background-image:url('{{ glide:hero_banner_image }}'); background-size: 100% 100%">
  {{ partial:navigation }}

    <div class="
    absolute 
    top-[40%] 
    flex flex-col items-center
    px-14
    w-full
    text-center
    ">
      <h1>
        {{ heading }}
      </h1>
      <div class="
      lg:w-[550px]
      
      text-center">
        {{ bard_field }}
      </div>
    </div>
    <div class="
    absolute 
    lg:bottom-[12%] 
    w-full 
    flex justify-center">

      <a class="" onClick="document.getElementById('firstItem').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });">
        <img src="{{ hero_icon:assets_field }}">
      </a>
    </div>
</div>

<!-- END resources/views/hero_banner.antlers.html -->
