<!-- START resources/views/navigation.antlers.html -->

<div class="absolute w-full hidden lg:block">
    <div class="flex justify-between fluid-container pt-20">
        <div>
            <img src="{{ logo:assets_field }}">
        </div>
        <nav>
            <ul class="nav flex-row gap-12 hidden lg:flex"">
                {{ nav:main_navigation }}
                    {{ if children }} 
                        <!-- Added class nav-item -->
                        <li class="nav-item ">
                            <a class="nav-link flex flex-row group hover:text-[#E8B222] hover:underline" href="{{ url }}" style="cursor: pointer;">
                                <p>
                                    {{ title }}
                                </p>
                                <div class="flex items-center pl-2 origin-[75%_50%] transform transition-transform duration-300 svg-icon">
                                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current text-white group-hover:text-[#E8B222]">
                                        <path d="M1 0.5L5 4.5L9 0.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </a>
                            
                            <!-- Added class nav-child and hidden -->
                            <ul class="nav-child hidden">
                                {{ children }}
                                    <li>
                                        <a class="hover:text-[#E8B222] hover:underline" href="{{ url }}">
                                            <p>{{ title }} </p>
                                        </a>
                                    </li>
                                {{ /children }}
                            </ul>
                        </li>
                    {{ else }}
                        <li>
                            <a href="{{ url }}" class="hover:text-[#E8B222] hover:underline">
                                <p>
                                    {{ title }}
                                </p>
                            </a>
                        </li>
                    {{ /if }}
                {{ /nav:main_navigation }}
            </ul>
        </nav>
    </div>
</div>
<div class="absolute w-full lg:hidden">
    <div class="flex justify-between p-12">
        <div>
            <img src="{{ logo:assets_field }}">
        </div>
        <div class="w-full flex justify-end">
            <img class="" src="{{ navigation_mobile_icons:mobileclosed }}">
        </div>
        <div class="flex justify-end">
            <img class="hidden" src="{{ navigation_mobile_icons:mobileopen }}">
        </div>
    </div>
    <nav class="hidden">
        <ul>
            {{ nav:main_navigation }}
                {{ if children }} 
                    <li class="nav-item ">
                        <a class="nav-link flex flex-row group hover:text-[#E8B222] hover:underline" href="{{ url }}" style="cursor: pointer;">
                            <p>
                                {{ title }}
                            </p>
                            <div class="flex items-center pl-2 origin-[75%_50%] transform transition-transform duration-300 svg-icon">
                                <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current text-white group-hover:text-[#E8B222]">
                                    <path d="M1 0.5L5 4.5L9 0.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </a>
                        
                        <ul class="nav-child hidden">
                            {{ children }}
                                <li>
                                    <a class="hover:text-[#E8B222] hover:underline" href="{{ url }}">
                                        <p>{{ title }} </p>
                                    </a>
                                </li>
                            {{ /children }}
                        </ul>
                    </li>
                {{ else }}
                    <li>
                        <a href="{{ url }}" class="hover:text-[#E8B222] hover:underline">
                            <p>
                                {{ title }}
                            </p>
                        </a>
                    </li>
                {{ /if }}
            {{ /nav:main_navigation }}
        </ul>
    </nav>
    <div class="hidden">
        Twitter
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const parentItems = document.querySelectorAll(".nav-item");
      
        const hideAllChildren = () => {
            document.querySelectorAll('.nav-child').forEach((el) => {
                el.classList.add('hidden');
                el.closest('.nav-item').querySelector('.nav-link').classList.remove('parent-hover');
                el.closest('.nav-item').querySelector('.svg-icon').classList.remove('parent-hover');
            });
        }
      
        const showChildrenOfParent = (parent) => {
            const childMenu = parent.querySelector('.nav-child');
            const parentLink = parent.querySelector('.nav-link');
            const svgIcon = parent.querySelector('.svg-icon');
            if (childMenu) {
                childMenu.classList.toggle('hidden');
                parentLink.classList.add('parent-hover');
                svgIcon.classList.add('parent-hover');
            }
        }
      
        parentItems.forEach((parentItem) => {
            parentItem.addEventListener("click", function(event) {
                hideAllChildren();
                showChildrenOfParent(this);
            });
      
            parentItem.addEventListener("mouseover", function(event) {
                hideAllChildren();
                showChildrenOfParent(this);
            });
      
            parentItem.addEventListener("mouseout", function(event) {
                hideAllChildren();
            });
        });
    });
</script>
<!-- END resources/views/navigation.antlers.html -->
