@import "fonts/text.css";






:root {
    --tw-padding-8: 2rem; /* Replace with the value in your Tailwind config for 'padding.8' */
  }
/* This is all you. */
html {
    font-size: 10px;
}

body {
    background-color: #132237;
}

.fluid-container {
    @apply w-full max-w-[1600px] mx-auto mb-60;
};

.fluid-container {
    padding-left: calc(env(safe-area-inset-left, 0rem) + var(--tw-padding-8));
    padding-right: calc(env(safe-area-inset-right, 0rem) + var(--tw-padding-8));
}
  
/*Navigation */
.parent-hover {
    color: #E8B222;
    text-decoration: underline;
}

.parent-hover .svg-icon {
    transform: rotate(180deg);
    stroke: #E8B222;
}

.btn {
    @apply relative flex justify-center items-center text-[1.6rem] font-medium h-[60px] w-[190px] mb-8 hover:bg-[#2E5C8E];
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #3C76B6;
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%);
}

.btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: -1;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #3C76B6; /* Match the button background color */
}



.golden-tag {
    @apply text-[#E8B222]
    uppercase
    text-[1.6rem]
    tracking-[0.4rem]
    ;
}


.swiper-button-prev {
  }

.swiper-button-prev::after {
    display: none !important;
}
  
.swiper-button-next {
}

.swiper-button-next::after {
    display: none !important;
}

.swiper-container3 .swiper-slide {
    display:flex !important;
}