<div class="infinite-image-container
            relative 
            flex flex-col 
            items-center
            pt-20
            pb-96
            overflow-hidden
            ">
    <p class="golden-tag">
        {{ tag }}
    </p>
    <div class="absolute top-48 w-full">
        <div class="image-row flex animate-marquee">
            {{ replicator_field }}
            <div class="image-item flex-shrink-0 mr-40">
                <img src="{{ glide:assets_field }}" alt="Logo">
            </div>
            {{ /replicator_field }}
        </div>
    </div>
</div>



<script>
    var container = document.querySelector('.image-row');
    var imageItems = container.querySelectorAll('.image-item');
    var availableWidth = container.clientWidth;
    var occupiedWidth = 0;
    var images = [];

    while (availableWidth > 0) {
        for (var i = 0; i < imageItems.length; i++) {
            var imageItem = imageItems[i];
            var imageWidth = imageItem.clientWidth;
            
            // Clone the image item and append it to the container
            var clone = imageItem.cloneNode(true);
            container.appendChild(clone);
            
            // Update occupied and available width
            occupiedWidth += imageWidth;
            availableWidth -= imageWidth;
            
            // If available width is zero or negative, break out of the loop
            if (availableWidth <= 0) {
                break;
            }
        }
    }
</script>




<style>
    /* Define the animation */
    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    /* Apply the animation */
    .animate-marquee {
        animation: marquee 20s linear infinite; /* Adjust the animation duration as needed */
    }
</style>
