<!-- views/page_builder/main_nav.antlers.html -->
<div class="border-t-2 border-b-2 border-double p-1 border-white">

</div>
<div class="flexible-container">
    <ul class="navigation w-full flex flex-row justify-around py-4">
        {{ nav:main_navigation }}
            <li>
                <a href="{{ url }}" class="bg-rose-300 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded-full transition duration-300">{{ title }}</a>
            </li>
        {{ /nav:main_navigation }}
    </ul>
</div>
<div class="border-t-2 border-b-2 border-double p-1 border-white">

</div>