<!-- START resources/views/page_builder/slider.antlers.html -->

<div class="swiper-container 
        relative 
        overflow-hidden 
        py-36 lg:py-80"
    style="
        background-image:url('{{ glide:assets_field }}');
        background-size: 100% 100%;
">
    <div class="swiper-wrapper">
        {{ replicator_field }}
        <div class="swiper-slide">
            <div class="card 
                        flex flex-col items-center
                        fluid-container 
                        text-center
                        gap-8
            ">
                <div class="golden-tag">
                    {{ tag_field }}
                </div>
                <h2 class="leading-tight tracking-tight
                            mb-4
                ">
                    {{ heading }}
                </h2>
                <p class="text-[1.6rem]
                            lg:w-1/2
                            leading-[3rem]
                            pb-8 lg:pb-28
                ">
                    {{ text_field }}
                </p>
                <a href="{{ button_link }}" class="btn">
                    {{ button_text }}
                </a>
            </div>
        </div>
        {{ /replicator_field }}
    </div>

    <!-- Add arrows and dots container -->
    <div class="flex gap-8
                justify-center relative items-center">
        <!-- Left Arrow -->
        <div class="swiper-button-prev 
                    relative 
                    text-gray-600 hover:text-gray-900
                    border-2
                    rounded-full 
                    w-10 h-10 
                    cursor-pointer
                    rotate-180
        ">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="white" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
        </div>

        <!-- Pagination Dots -->
        <div class="swiper-pagination relative
                    flex justify-center
        "></div>

        <!-- Right Arrow -->
        <div class="swiper-button-next 
                    relative
                    text-gray-600 hover:text-gray-900 
                    rounded-full 
                    w-10 h-10 
                    border-2
                    cursor-pointer
        ">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="white" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
        </div>
    </div>
</div>
<!-- FINISH resources/views/page_builder/slider.antlers.html -->

<script>
    const swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true, // Allow navigation by clicking on dots
        },
        // Disable auto-refresh on scroll
        touchStartPreventDefault: false,
        mousewheel: false,
    });
</script>

