<!-- START resources/views/page_builder/two_column_container -->
<div class="fluid-container 
            flex
            gap-32
            overflow-x-clip
">
    <div class="left-side 
                w-full 
                flex flex-col justify-center gap-6
    ">        
        {{ left_column }}
            {{ partial src='two_column/{type}' }}
        {{ /left_column }}
    </div>
    <div class="right-side w-full relative">
        {{ right_column }}
            {{ partial src='two_column/{type}' }}
        {{ /right_column }}
    </div>
</div>

<!-- FINISH resources/views/page_builder/two_column_container -->
